
.sun{
    animation: spin 25s linear infinite,sun-glow 10s 0s linear infinite;
    stroke-width:18;
    stroke-dasharray:2;
    stroke-dashoffset:2;
}

@keyframes sun-glow {
    0% { fill: #f1c40f; stroke:#f1c40f;}
    100% { fill: #f1c40f; stroke:#f1c40f;}
}

@keyframes spin{
    100% {
        transform: rotate(360deg);
    }
}

.text-left{
    animation: bounceInLeft 2s;
    fill: red;
    font-size: 30px;
}
@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }
    60% {
        opacity: 1;
        transform: translateX(30px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}